html, body{
    margin: 10px;
}

.header, #body{
    background-image: url('https://images.unsplash.com/photo-1639870322558-d990edb5037c?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=987') !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: red;
    background-blend-mode:lighten;
    color: black;
    -webkit-text-stroke: 1px rgb(0, 47, 0);
    -webkit-text-fill-color: rgb(174, 241, 174);
}

.header h1{
    font-size: 3em;
}

.header h2{
    font-size: 2em;
}

#video{
    width: 75%;
    max-width: 560px;
}

#text-bg{
    background-color: rgba(221, 39, 39, 0.5);
}